@import "tailwindcss";

html,
body {
  height: 100%;
}

video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}